<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <title>Japan</title>
        
    </head>
    <body>
        <header id="up">
            <nav class="allnav">
                <a href="index1.html">Аниме, манга и ранобэ</a>
                <a href="../index.html">Главная</a>
                <a href="index2.html">Древняя Япония</a>
            </nav>
        </header>
        <header class="chapter">
            <ul>
                <h2>Оглавление</h1>
                <li>
                    <a href="#one">Гимны</a>
                </li> 
                <li>
                    <a href="#two">Краткая справка</a>    
                </li>  
                <li>
                    <a href="#three">Леша споси</a>    
                </li>     
            </ul>
        </header>
        <article>
            <h1 class="text">АаАаАаА</h1>
            <p class="text">Текст комик сансом</p>
            <div class="gif">
            </div>
        </article>
        <footer>
            <a href="#up" class="up">Наверх</a>
            <p>Орехов Николай</p>
        </footer>
    </body>
</html>
