@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

@font-face {
    font-family: "Fedor";
    src: url(font/18144.ttf);
}

html {
    background-image: url(../img/f.png);
    background-size: cover;
    background-attachment: fixed; 
}

.headerNav {
    text-align: center;
    border: solid 1px black;
    border-radius: 30px;
}

.headerNav a:hover {
    padding: 5px 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
}

.headerNav a {
    display: inline-block;
    padding: 20px 15px;
    font-size: 21px;
    background-color: rgba(177, 127, 180, 0.0);
    text-decoration: none;
    color: black;
    margin: 0px 20px;
    transition: 0.1s;
    font-family: 'Pacifico';
}

.main {
    height: auto;
    min-height: calc(100% + 100px);
    
    display: grid;
    
    grid-template-areas: 
    "header header header"
    "empty1 article empty2"
    "footer footer footer";
    
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr 800px 1fr;
    
    grid-gap: 10px;
    color: white;
}

header {
    grid-area: header;
    padding-top: 10px;
}

article {
    grid-area: article;
    text-align: center;
    padding: 10px;
}

footer {
    grid-area: footer;
}

.footer-text {
    text-align: center;
    margin-top: 80px;
}