<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Konosuba</title>
</head>
<body>
    <header id="up">
        <nav class="allnav">
            <a href="../index.html">Главная</a>
            <a href="index1.html">О персонажах</a>
            <a href="index2.html">О ранобэ, манге и аниме</a>
        </nav>
    </header>
    <main>
        <article>
            <div class="Arc">
                <header class="half-name">
                    <h5>Предистория</h5>
                </header>
                <p class="CharAnime">
                Аква - богиня воды, которая встретила Казуму после его смерти и должна была перенести в другой мир. Казума выбрал вариант с фэ  нтези миром, где ему предлагались вещи в тот мир, но так как его подгоняла Аква, он решил выбрать её, что не нарушило правил. Теперь дабы вернуться она с Казумой должна победить Короля Демонов
                </p>
                <header class="half-name">
                    <h5>Личность и внешность</h5>
                </header>
                <p class="CharAnime">
                    У Аквы голубые глаза и волосы, а одежда в бело-синих тонах. Сама Аква, несмотря на то что она богиня, оказывается очень капризной, и лишь из-за того что она богиня, вечно считает себя самой главной. У Аквы все характеристики на высоком уровне, кроме конечно интеллекта и удачи. Аква вечно вляпывается в проблемы, особенно часто этой проблемой оказываетсю долги.
                </p>
                <header class="half-name">
                    <h5>Способности</h5>
                </header>
                <p class="CharAnime">
                    Несмотря на все, она все же богиня, притом воды. Она обладает заклинаем изгнание нежити, а также и более высокими его версиями, воскрешением (<i>в отличии от остальных жрецов, она может возраждать более одного раза (вероятно бесконечно).</i>) и подобными заклинаниями. Она так же выучила заклинание "красота природы". Бесмертна ли она - неизвестно. Так же она из-за своей божественной ауры притягивает к себе нежить, будто медом намазана.
                </p>
                <img src="../img/Aqua.gif" class="image">
            </div>
            <div class="iname">
                    <img src="../img/Aqua.png">
            </div>
        </article>
        <article>
            <div class="Arc">
                <header class="half-name">
                    <h5>Предистрория</h5>
                </header>
                <p class="CharAnime">
                    Казума - обыкновенный японский школьник, пошедший за лимитированным изданием игры, но в итоге умершим на обратном пути. В остальном история идентична Акве.
                </p>
                <header class="half-name">
                    <h5>Личность и внешность</h5>
                </header>
                <p class="CharAnime">
                    У Казумы зеленые глаза и коричневые волосы, изначально одеждой является спортивная в черно-зеленых цветах, а позже более средневековой, в черных штанах, белой рубахе и зеленом плаще. Казума - извращенец, со среднеми характеристиками, за исключением высокого интеллекта и удачи.
                </p>
                <header class="half-name">
                    <h5>Способности</h5>
                </header>
                <p class="CharAnime">
                    Из навыков - изначально никаких. Его класс - авантюрист, то есть он может использовать навыки всех классов. Первыми навыками были навыки от воровки Крис - обнаружение врага, скрыность и кража. Позже он решил стать мечником с магией, из первых магических - выстрел водой. Казума изучил даже навык лича - иссушающая тлань.
                </p>
                <img src="../img/Steal.gif" class="image">
                <img src="../img/Water.gif" class="image">
            </div>
            <header class="iname">
                <div>
                    <img src="../img/Kazuma.png">
                    <p>Казума</p>
                </div>
            </header>
        </article>
        <article>
            <div class="Arc">
                <header class="half-name">
                    <h5>Предистрория</h5>
                </header>
                <p class="CharAnime">
                    Даркнесс присоединилась по объявлению о сборе пати от Аквы, когда Аква и Казума решили что вдвоем у них ничего не выйдет.
                </p>
                <header class="half-name">
                    <h5>Личность и внешность</h5>
                </header>
                <p class="CharAnime">
                    У Аквы голубые глаза и блондинистые глаза. Она носит броню в желто-белых цветах. Является мазохисткой, из-за чего и присоеденилась к пати после слов о победе о Короле Демонов. Характеристики не говорят, известно что она имеет невероятную выносливость, защиту и хп, а так же неуклюжа, а её класс - крестоносец.
                </p>
                <header class="half-name">
                    <h5>Способности</h5>
                </header>
                <p class="CharAnime">
                    <i>"С такими характеристиками она идеальный воин"</i> - подумали вы? Возможно, но из-за неуклюжести все её мощные атаки (<i>она могла ломать увесистые камни мечом</i>) уходят в молоко. Несмотря на это она неплохо зашищается. Из-за хп хорошо танкует.
                </p>
                <img src="../img/Darkness.gif" class="image">
            </div>
             <header class="iname">
                <div>
                    <img src="../img/Darkness.png">
                    <p>Даркнесс</p>
                </div>
            </header>
        </article>
        <article>
            <div class="Arc">
                <header class="half-name">
                    <h5>Предистрория</h5>
                </header>
                <p class="CharAnime">
                    Мегумин присоединилась по объявлению о сборе пати от Аквы, когда Аква и Казума решили что вдвоем у них ничего не выйдет.
                </p>
                <header class="half-name">
                    <h5>Личность и внешность</h5>
                </header>
                <p class="CharAnime">
                    У Мегумин красные глаза и темные волосы, ведь она - алый демон. Она носит огромную колдовскую шляпу, через раз красную повязку с белым крестом, а также красное платье с короткой юбкой (не знаю как ее назвать). Как и все алые демоны имеет странное имя, а вместо приветствия выпедривается. Использует лишь магию взрыва. Является одной из самых адекватных из пати Казумы, несмотря на то, что ей 14.
                </p>
                <header class="half-name">
                    <h5>Способности</h5>
                </header>
                <p class="CharAnime">
                    Магия взрыва - сильнейшая из всех, так? Где подвох? Она затратная по мане, и Мегумин может использовать её раз в день, и просто помешена на ней, на отрез отказываясь выучить другой навык. Взамен её магия взрыва все же невероятна сильна. P.S. Из-за ее любви к врывам Казума прозвал ее "<i>Помешанной на взрывах лоли</i>
                    ".
                </p>
                <img src="../img/Explosion.gif" class="image">
            </div>
            <header class="iname">
                <div>
                    <img src="../img/Megumin.png">
                    <p>Мегумин</p>
                </div>
            </header>
        </article>
    </main>
    <footer>
        <a href="#up" class="up">Наверх</a>
    </footer>
</body>
</html>

<!--
    .iname p{
    display: block;
    width: 200px;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 10px 5px 5px gray;
    border: 3px solid black;
    border-top: 0px;   
    margin: auto;
    padding: 20px 0px 0px 0px;
}
-->