<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Konosuba</title>
</head>
<body>
    <header id="up">
        <nav class="allnav">
            <a href="../index.html">Главная</a>
            <a href="index1.html">О персонажах</a>
            <a href="index2.html">О ранобэ, манге и аниме</a>
        </nav>
    </header>
    <main>
        <article>
            <div class="Arc">
                <header class="name">
                    <h3>Коносуба - что это? mk II</h3>
                </header>
                <p class="Anime">
                    Коносуба это исекай-комедия (<i>исекай - это где главный герой оказывается в другом мире</i>), в начале высмеивая остальные. От нелепой смерти, до того что его спутники бесполезны, а сам он не отличается особыми силами, не уничтожает все и вся, скорее наоборот. Хотя это не мешает ему как-то выполнять свою миссию, а именно уничтожать генералов армии Короля демонов, чтобы в итоге до него добраться.
                </p>
                <img src="../img/fun.jpg" class="image">
            </div>
        </article>  
    </main>
    <footer>
        <a href="#up" class="up">Наверх</a>
    </footer>
</body>
</html>